<!--<div *ngIf="!firstName; else forminfo"></div>-->


<div fxLayoutAlign="center" class="zero" style="padding-top: 20px">
  <div fxFlex="50%" fxFlex.lt-md="100%">



<mat-accordion class="headers-align">
 <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
   <mat-expansion-panel-header style="background-color:#F5F5F5;">
     <mat-panel-title>
       Persönliche Angaben
     </mat-panel-title>

      <div fxLayoutAlign="end">
        <mat-icon>account_circle</mat-icon>

      </div>



   </mat-expansion-panel-header>
   <div style="padding-top:10px;">
   <form [formGroup]="PersonalFormGroup" >

     <mat-form-field style="width: 100%;">
       <input matInput placeholder = "Vorname" [(ngModel)]="Registration.first_name" formControlName="firstNameCtrl" />
       <mat-error *ngIf="PersonalFormGroup.get('firstNameCtrl').hasError('required')">Dieses Feld ist erforderlich</mat-error>
     </mat-form-field>&nbsp;

     <mat-form-field style="width: 100%;">
       <input matInput placeholder = "Nachname" [(ngModel)]="Registration.last_name" formControlName="lastNameCtrl" />
       <mat-error *ngIf="PersonalFormGroup.get('lastNameCtrl').hasError('required')">Dieses Feld ist erforderlich</mat-error>
     </mat-form-field>
     <br><br>

     <mat-form-field style="width: 65%;">
       <input matInput placeholder = "Straße" [(ngModel)]="Registration.addr" formControlName="addrCtrl" />
        <mat-error *ngIf="PersonalFormGroup.get('addrCtrl').hasError('required')">Dieses Feld ist erforderlich</mat-error>

     </mat-form-field>
     <mat-form-field  style="width: 30%; padding-left:10px">
       <input matInput placeholder = "Hausnummer" [(ngModel)]="Registration.house_num" formControlName="numCtrl" />
          <mat-error *ngIf="PersonalFormGroup.get('numCtrl').hasError('required')">Dieses Feld ist erforderlich</mat-error>

     </mat-form-field>
     <br><br>

     <mat-form-field style="width: 65%;">
       <input matInput placeholder = "Stadt" [(ngModel)]="Registration.city" formControlName="cityCtrl" />
        <mat-error *ngIf="PersonalFormGroup.get('addrCtrl').hasError('required')">Dieses Feld ist erforderlich</mat-error>

     </mat-form-field>
     <mat-form-field  style="width: 30%; padding-left:10px">
       <input matInput placeholder = "PLZ" formControlName="plzCtrl" [(ngModel)]="Registration.plz" />
          <mat-error *ngIf="PersonalFormGroup.get('plzCtrl').hasError('pattern')">Diese Nr. besteht ausschließlich aus Zahlen</mat-error>
          <mat-error *ngIf="PersonalFormGroup.get('plzCtrl').hasError('required')">Dieses Feld ist erforderlich</mat-error>
     </mat-form-field>
     <br><br>


     <mat-form-field style="width: 100%;">
       <input matInput placeholder = "Tel." formControlName="phoneCtrl" [(ngModel)]="Registration.phone_number" />
       <mat-error *ngIf="PersonalFormGroup.get('phoneCtrl').hasError('required')">Dieses Feld ist erforderlich</mat-error>
       <mat-error *ngIf="PersonalFormGroup.get('phoneCtrl').hasError('pattern')">Diese Nr. besteht ausschließlich aus Zahle</mat-error>
     </mat-form-field>&nbsp;


     <mat-form-field style="width: 100%;">
       <input matInput placeholder = "Email" formControlName="emailCtrl" [(ngModel)]="Registration.email"/>
       <mat-error *ngIf="PersonalFormGroup.get('emailCtrl').hasError('required')">Dieses Feld ist erforderlich</mat-error>
       <mat-error *ngIf="PersonalFormGroup.get('emailCtrl').hasError('email')">Ungültiges Emailadressen Format</mat-error>
     </mat-form-field>

     <div fxLayoutAlign="end">


     <button mat-raised-button color="primary" (click)="nextStep(PersonalFormGroup)" >Next</button>
     </div>
   </form>
 </div>



 </mat-expansion-panel>

 <mat-expansion-panel [expanded]="step===1" (opened)=setStep(1) hideToggle="true" style="margin-top:10px;">
   <mat-expansion-panel-header style="background-color:#F5F5F5;">
     <mat-panel-title>
      <!--SozialversicherungsNr. und -->Besteuerungsmerkmale
     </mat-panel-title>
     <div fxLayoutAlign="end">
       <mat-icon>content_paste</mat-icon>
     </div>
   </mat-expansion-panel-header>
   <div style="padding-top:10px;">

     <label ><b>-Handelt es sich dabei um eine erstanmeldung?</b></label>
     <br><br>



     <mat-radio-group  [(ngModel)]="Registration.first_reg_bool">
       <mat-radio-button [value]=false color="primary">nein</mat-radio-button>&nbsp;
       <mat-radio-button [value]=true color="primary">Ja</mat-radio-button>&nbsp;

     </mat-radio-group>

        <br><br>

  <div *ngIf="!Registration.first_reg_bool; else firstReg">
    <form [formGroup]="IdFormGroup">

     <mat-form-field style="width: 100%;">
       <input matInput placeholder = "Steuer Id." formControlName="taxIdCtrl" [(ngModel)]="Registration.tax_id"/>
       <mat-error *ngIf="IdFormGroup.get('taxIdCtrl').hasError('required')">Dieses Feld ist erforderlich</mat-error>
       <mat-error *ngIf="IdFormGroup.get('taxIdCtrl').hasError('taxIdLength')">Steuer-ID besteht aus 11 Ziffern</mat-error>
       <mat-error *ngIf="IdFormGroup.get('taxIdCtrl').hasError('pattern')">Steuer-ID besteht ausschließlich aus Ziffern</mat-error>
     </mat-form-field>
     <br><br>



     <mat-form-field style="width: 100%;">
       <input matInput placeholder = "Sozialeversicherung Nr." formControlName="socialIdCtrl" [(ngModel)]="Registration.social_id"/>

       <mat-error *ngIf="IdFormGroup.get('socialIdCtrl').hasError('socIdLength')">Soz.VersicherungsNr. besteht aus 12 Zeichen</mat-error>
       <mat-error *ngIf="IdFormGroup.get('socialIdCtrl').hasError('socIdblock_1')">Die ersten 8 Zeichen sind nur Ziffern</mat-error>
       <mat-error *ngIf="IdFormGroup.get('socialIdCtrl').hasError('socIdblock_2')">Das 9te Zeichen ist ein Buchstabe</mat-error>
       <mat-error *ngIf="IdFormGroup.get('socialIdCtrl').hasError('socIdblock_3')">Die 3 letzten Zeichen sind Ziffern</mat-error>
     </mat-form-field>
     <br><br>
     <div fxLayoutAlign="end">


       <button mat-raised-button color="primary" (click)="nextStep(IdFormGroup)" >Next</button>
     </div>
     </form>
   </div>




   <ng-template #firstReg>
     <form [formGroup]="FirstRegFormGroup">


     <mat-form-field style="width: 46%;">
       <input matInput [matDatepicker]="picker" placeholder = "Geburtsdatum" [(ngModel)]="Registration.birth_date" formControlName="birthDateCtrl" />
       <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
       <mat-datepicker #picker startView="year" [startAt]="start_date"></mat-datepicker>
     </mat-form-field>

     &nbsp; <b>in:</b> &nbsp;



     <mat-form-field style="width:40%;">
       <input matInput placeholder="Geburtsort" [(ngModel)]="Registration.birth_place" formControlName="birthPlaceCtrl"/>
     </mat-form-field>
     <br><br>

     <mat-form-field style="width:100%">
       <input matInput placeholder="Geburtsname" [(ngModel)]="Registration.birth_name" formControlName="birthNameCtrl"/>
     </mat-form-field>
     <br><br>

     <mat-form-field style="width:100%">
       <input matInput placeholder="Nationalität" [(ngModel)]="Registration.nationality" formControlName="nationalityCtrl"/>
     </mat-form-field>
     <br><br>

     <label><b>-Fmilien stand:</b></label><br>
     <mat-radio-group formControlName="maritStatCtrl" [(ngModel)]="Registration.marit_stat">
       <mat-radio-button value="single" style="padding-top:10px;" color="primary">Ledig</mat-radio-button><br>
       <mat-radio-button value="married" style="padding-top:5px;" color="primary">Verheiratet</mat-radio-button><br>
     </mat-radio-group>
     <br>
     <label><b>-Geschlecht:</b></label><br>
     <mat-radio-group formControlName="genderCtrl" [(ngModel)]="Registration.gender">
       <mat-radio-button value="female" style="padding-top:10px;" color="primary">Weiblich</mat-radio-button><br>
       <mat-radio-button value="male" style="padding-top:5px;" color="primary">Männlich</mat-radio-button><br>
     </mat-radio-group>
     <br>

     <div fxLayoutAlign="end">


       <button mat-raised-button color="primary" (click)="nextStep(FirstRegFormGroup)" >Next</button>
     </div>


    </form>


   </ng-template>


<!--

-->

 </div>
 </mat-expansion-panel>
 <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true" style="margin-top:10px;">
   <mat-expansion-panel-header style="background-color:#F5F5F5;">
     <mat-panel-title>
       Krankenversicherung
     </mat-panel-title>
     <div fxLayoutAlign="end">
       <mat-icon>local_hospital</mat-icon>

     </div>
   </mat-expansion-panel-header>
    <form [formGroup]="InsuranceFormGroup">
      <div style="padding-top:10px;">
        <mat-form-field style="width: 65%;">
          <input matInput placeholder = "Krankenversicherung" formControlName="insuranceCtrl" [(ngModel)]="Registration.insurance"/>
           <mat-error *ngIf="InsuranceFormGroup.get('insuranceCtrl').hasError('required')">Dieses Feld ist erforderlich</mat-error>

        </mat-form-field>
        <mat-form-field  style="width: 30%; padding-left:10px">
          <input matInput placeholder = "Ort" formControlName="insuranceLocCtrl" [(ngModel)]="Registration.insurance_loc"/>
             <mat-error *ngIf="InsuranceFormGroup.get('insuranceLocCtrl').hasError('required')">Dieses Feld ist erforderlich</mat-error>

        </mat-form-field>
        <br><br>

      </div>

      <div fxLayoutAlign="end">


        <button mat-raised-button color="primary" (click)="nextStep(InsuranceFormGroup)" >Next</button>
      </div>
    </form>


 </mat-expansion-panel>
 <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle="true" style="margin-top:10px;">
   <mat-expansion-panel-header style="background-color:#F5F5F5;">
     <mat-panel-title>
       Angaben zur derzeitigen Beschäftigung
     </mat-panel-title>
     <div fxLayoutAlign="end">
       <mat-icon>work</mat-icon>

     </div>
   </mat-expansion-panel-header>
   <form [formGroup]="OccupationFormGroup">
     <div style="padding-top:10px;">
       <label ><b>-Ich bin:</b></label>

     </div>


      <div fxLyout="column" fxLayoutAlign="center" style="padding-top:10px;">



     <br><br>



       <mat-radio-group formControlName="occupCtrl" [(ngModel)]="Registration.occupation">

         <mat-radio-button value="schueler" style="margin-top:10px;" color="primary">Schüler/in</mat-radio-button>&nbsp;
         <mat-radio-button value="student" style="margin-top:10px;" color="primary">Student/in</mat-radio-button>&nbsp;
         <mat-radio-button value="schul_ent" style="margin-top:10px;" color="primary">Schulentlassene/r</mat-radio-button>&nbsp;
         <mat-radio-button value="army_civil" style="margin-top:10px;" color="primary">Wehr-/Zivildienstl.</mat-radio-button>&nbsp;
         <mat-radio-button value="student_in _apply" style="margin-top:10px;" color="primary">Studienbewerber</mat-radio-button>&nbsp;
         <mat-radio-button value="unemployed" style="margin-top:10px;" color="primary">Arbeitslos</mat-radio-button>&nbsp;
         <mat-radio-button value="soci_assist" style="margin-top:10px;" color="primary">Sozialhilfeempfänger</mat-radio-button>&nbsp;
         <mat-radio-button value="at_home" style="margin-top:10px;" color="primary">Hausfrau/hausmann</mat-radio-button>
         <mat-radio-button value="at_parental" style="margin-top:10px;" color="primary">Arbeitsnehmer in Elternzeit</mat-radio-button>&nbsp;
         <mat-radio-button value="employee" style="margin-top:10px;" color="primary">Arbeitsnehmer</mat-radio-button>&nbsp;

         <br><br>
         </mat-radio-group>
     </div>
       <mat-radio-group formControlName="otherOccupCtrl" [(ngModel)]="Registration.other_occupation_bool">
          <mat-radio-button [value]="true" style="margin-top:10px;" color="primary">Sonstiges</mat-radio-button>&nbsp;
       </mat-radio-group>

     <br><br>
     <!--TODO:show other occupation on input field-->
     <div *ngIf="Registration.other_occupation_bool">
       <mat-form-field style="width:100%;">
         <input matInput placeholder = "Beschäftigung" formControlName="otherOccupStrCtrl" [(ngModel)]="Registration.other_occupation"/>
       </mat-form-field>

     </div>


     <div style="padding-top:10px;">
       <label ><b>-Besteht während der Beschäftigungszeit ein Hauptbeschäftigungsverhätnis?</b></label>

     </div>

     <br>


     <mat-radio-group formControlName="mainOccupCtrl" [(ngModel)]="Registration.main_occup_bool">
       <mat-radio-button [value]="true" color="primary">Ja</mat-radio-button>&nbsp;
       <mat-radio-button [value]="false" color="primary">nein</mat-radio-button>
     </mat-radio-group>


     <br><br>

     <div *ngIf="main_occup_bool">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="bei" formControlName="mainOccupStrCtrl" [(ngModel)]="Registration.main_occup" />
        </mat-form-field>

     </div>

     <div style="padding-top:10px;">
       <label ><b>-Besteht während der Beschäftigungszeit ein nebenbeschäftigungsverhätnis?</b></label>

     </div>

     <br>


     <mat-radio-group formControlName="besideOccupCtrl" [(ngModel)]="Registration.beside_occup_bool">
       <mat-radio-button [value]="true" color="primary">Ja</mat-radio-button>&nbsp;
       <mat-radio-button [value]="false" color="primary">nein</mat-radio-button>



     </mat-radio-group>


     <br><br>

     <div *ngIf="beside_occup_bool">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="bei" formControlName="besideOccupStrCtrl" [(ngModel)]="Registration.beside_occup" />
        </mat-form-field>

     </div>
     <div *ngIf="beside_occup_bool" style="padding-top:10px;">
       <label ><b>-mit einem monatlichen Arbeitsentgeld von:</b></label>

        <mat-form-field style="width: 30%;">
          <input matInput formControlName="besideOccupIncomeCtrl" [(ngModel)]="Registration.beside_occup_income" />
          <mat-icon matSuffix>euro_symbol</mat-icon>
        </mat-form-field>

     </div>

    <div fxLayoutAlign="end">
     <button mat-raised-button color="primary" (click)="nextStep(OccupationFormGroup)">next</button>
   </div>


   </form>





 </mat-expansion-panel>



</mat-accordion>

<button mat-raised-button color="warn" style="margin-top:20px; width:100%;" (click)="submit()"> abschicken</button>






  </div>


</div>
