<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Anmeldung</span>
    <span class="spacer"></span>
    <button mat-button>Contact</button>



  </mat-toolbar-row>

</mat-toolbar>



<router-outlet></router-outlet>
